{% extends "base.html" %}
{% load static %}

{% block title %} Student Management System {% endblock title%}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/carousel_css.css' %}">
{% endblock csslink %}

{% block content %}
<h4 class=" text-white fw-bold mx-auto"> আলোর প্রভাতি... </h4>
{% endblock content %}

{% block content1 %}   
    <!-- Desktop menu -->
    <div class="d-none d-md-flex justify-content-end gap-2 position-sticky top-0 top_button">
        <a class="btn btn-warning btn-sm fw-semibold mt-3" href="{% url 'register' %}">
            <img class=" text-white object-fit-cover" src="{% static 'images/icon/admin.png' %}" alt="admin icon">
            Register Now
        </a>

        <div class="dropdown mt-3">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <img class="login_icon text-white object-fit-cover" src="{% static 'images/login.svg' %}" alt="login icon">
                Login Here
            </button>
            <ul class="dropdown-menu mt-md-1">
                <li>
                  <a class="dropdown-item bg-success-subtle" href="{% url 'login' %}">
                    <img class="login_icon text-white object-fit-cover" src="{% static 'images/login.svg' %}" alt="login icon">
                    Student Login</a>
                </li>
                <li>
                  <a class="dropdown-item bg-info bg-opacity-50" href="{% url 'register' %}">
                    <img class=" text-white object-fit-cover" src="{% static 'images/icon/registered.png' %}" alt="registered icon">
                    Apply Student
                    </a>
                </li>
                <li>
                  <a class="dropdown-item bg-warning bg-opacity-50" href="/admin/">
                    <img class=" text-white object-fit-cover" src="{% static 'images/icon/admin.png' %}" alt="admin icon">
                    Admin Login
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Mobile menu -->
    <div class="w-100 d-md-none position-fixed bottom-0 bg-light border rounded p-2">
        <div class="d-flex justify-content-center gap-3">
            <a href="{% url 'register' %}">
                <img src="{% static 'images/add.svg' %}" alt="register">
            </a>
            <a href="{% url 'login' %}">
                <img src="{% static 'images/login.svg' %}" alt="login">
            </a>
        </div>
    </div>

    <hr class="text-light">
   
    <!-- carousel set up  -->
    <div id="autoCarousel" class="carousel slide carousel_img" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/sis.png' %}" class="d-block w-100 border rounded-3 object-fit-cover carousel_img" alt="sis">
            </div>

            {% for img in craousel_img %}
            <div class="carousel-item ">
                <img src="{{ img.carousel_images.url }}" class="d-block w-100 carousel-img border rounded-3 object-fit-cover carousel_img" alt="{{ img.carousel_image_name}}">
            </div>
            {% endfor %}
        </div>
    </div>



<!-- start content 2 block -->
<hr class=" text-info">
<hr class=" text-info">
<section class=" w-75 text-info mt-4"  id="charts">
  <canvas class=" w-75 h-75 text-info" id="studentChart"></canvas>
</section>

<hr class=" text-light">
<hr class=" text-light">

<div class=" row mt-4 g-3">
    {% for i in card %}
    <div class=" col-md-3">
        <div class=" card bg-success card_des">
            <div class=" card-body">
                <div class=" card-header">
                    <h3 class=" text-light text-center fw-semibold">{{ i.card_name}}</h3>
                </div>
                <div class=" card-img d-flex justify-content-center align-items-center">
                    <img class=" card_img object-fit-cover" src="{{ i.card_image.url }}" alt="{{ i.card_name}}">
                </div>
                <div class=" card-footer">
                    <p class=" text-light fw-medium">{{ i.card_description}}</p>
                </div>
            </div>                     
        </div>
    </div>
    {% endfor %}
</div>
<hr class=" text-info">
<hr class=" text-info">
{% endblock content1 %}

<!-- start script block -->
{% block script1 %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>const CHART_DATA_URL = "{% url 'chart_data' %}";</script>
<script src="{% static 'javascript/home.js' %}"></script>
{% endblock script1 %}


