
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- icon link -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/logokacst.png' %}">
  <title>Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
  <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body class=" bg-dark-subtle">
<div class=" container min-vh-100 bg-success-subtle border border-secondary">   

{% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-2 w-25 start-50 " role="alert" id="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
{% endif %}

      <!-- profile header -->
    <div class=" row mt-md-3">
      <div class=" col-2 d-grid">
        {% if student.student_photo %}
        <a href="{% url 'edit' student.id %}">          
          <img class=" object-fit-cover border border-3 border-black rounded-circle profile_pic" src="{{student.student_photo.url}}" alt="profile picture " >
          {% else %}
          <img class=" object-fit-cover border border-3 border-black rounded-circle profile_pic" src="{% static 'images/logokacst.png' %}" alt="defult picture " >         
        </a>
        {% endif %}
      </div>

      <div class=" d-flex justify-content-end gap-md-2 align-items-center col-md-10 bg-success bg-opacity-50 rounded border-start border-3 border-success shadow-sm sticky-top ">
        <a class=" btn btn-warning btn-sm fw-semibold" href="{% url 'home'%}">
          <i class=" bi bi-house-exclamation-fill text-black"></i>
          Home
        </a>
        <a class=" btn btn-warning btn-sm fw-semibold" href="{% url 'result' student.id %}">
          <i class=" bi bi-database-check text-black"></i>
          Notices
        </a>

        <a class=" btn btn-warning btn-sm fw-semibold" href="{% url 'result' student.id %}">
          <i class=" bi bi-tree text-black"></i> 
          Result
        </a>

        <a class=" btn btn-warning btn-sm fw-semibold" href="{% url 'edit' student.id %}">
          <i class=" bi bi-receipt text-black"></i> 
          Edit Profile
        </a>

        <a class=" btn btn-warning btn-sm fw-semibold" href="{% url 'result' student.id %}">
          <i class=" bi bi-cookie text-black"></i> 
          Course
        </a>

        <a class=" btn btn-warning btn-sm fw-semibold" href="{% url 'logout' %}">
          <i class=" bi  bi-lightbulb text-black"></i> 
          Logout
        </a>

      </div>
    </div>

    <hr class=" text-dark">
    <hr class=" text-dark">

    <div class=" row mt-md-2 ms-md-2">
      <div class=" col-md-8">
        <div class=" d-flex">
          <p class="fw-semibold me-2">Name :</p>
          <p class=" fst-italic">{{ student.student_name}}</p>
        </div>

        <div class=" d-flex">
          <p class="fw-semibold me-2">Phone Number :</p>
          <p class=" fst-italic">{{ student.student_phone_number}}</p>
        </div>

        <div class=" d-flex">
          <p class="fw-semibold me-2">Fathers Name :</p>
          <p class=" fst-italic">{{ student.fathers_name}}</p>
        </div>

        <div class=" d-flex">
          <p class="fw-semibold me-2">Mothers Name :</p>
          <p class=" fst-italic">{{ student.mothers_name}}</p>
        </div>

        <div class=" d-flex">
          <p class="fw-semibold me-2">Address :</p>
          <p class=" fst-italic">{{ student.address}}, {{student.thana}}, {{student.district}}, {{student.post_code}}</p>
        </div>

        <div class=" d-flex">
          <p class="fw-semibold me-2">Date of Birth :</p>
          <p class=" fst-italic">{{ student.date_of_birth}}</p>
        </div>

        <div class=" d-flex">
          <p class="fw-semibold me-2">Religion :</p>
          <p class=" fst-italic">{{ student.religion}}</p>
        </div>

        <div class=" d-flex">
          <p class="fw-semibold me-2">Nationality :</p>
          <p class=" fst-italic">{{ student.nationality}}</p>
        </div>

      </div>
    </div>



  </div>

<script src="{% static 'javascript/alerts.js' %}"></script>
</body>
</html>